<!DOCTYPE html>
<html>
<head>
    <title>Comments Analysis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
        });
    </script>
</head>

<body>

<div class="container">
    <div class="row with-margin">
        <div class="col-6 ">
            <%if(locals.post_data.prev_page < 0){%>
                <a class="btn btn-danger disabled">Prev </a>
            <%}else{%>
                <a class="btn btn-danger" href="/comment-analysis/<%- locals.post_data.prev_page %>">Prev Post </a>
            <%}%>

            <a class="btn btn-danger" href="https://www.reddit.com/<%- locals.post_data.post_link %>" target="_blank">Open Post</a>

            <%if(locals.post_data.next_page >= 40){%>
                <a class="btn btn-danger disabled"> Next </a>
            <%}else{ %>
                <a class="btn btn-danger" href="/comment-analysis/<%- locals.post_data.next_page %>"> Next Post</a>
            <%}%>
        </div>
    </div>
</div>

<div class="container">
    <div class="row with-margin">
        <% include comments.ejs %>
        <% include questions.ejs %>
    </div>
</div>
</body>
</html>