body {
  padding: 20px 0px 0px 0px;
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #87cefa20;
}

a {
  color: #00B7FF;
}
ul {
  border-left: 2px solid black;
}

p{
  word-wrap: break-word;
  padding: 0px 0px 0px 0px;
}

.active_background{
  background-color: #1e90ff60;
  outline-style: groove;
  outline-color: yellow;
}

.not_active_background{
  background-color: lightskyblue;
}

.row{
  margin-left: -70px;
  margin-right: -70px;
}