<div ng-include="'partials/popups.html'"></div>
<div>
    <p>
    <form class="alert questions" name="question-form" ng-submit="onAnswerSubmit()">

        <div id="phatic" class="option-theme solid-thick-border-at-top row">
            <input type="checkbox" name="phatic" value="1" ng-model="answer_coding.phatic">
            <label for="phatic">
                <strong>Phatic Communication</strong><br>Comments which are not related to the post and mostly are
                Jokes, unrelated conversations, swearing etc.<br>
            </label>
        </div>

        <div id="issues_concern" class="option-theme row">
            <input type="checkbox" name="issues_concern" value="1" ng-model="answer_coding.issues_concern">
            <label for="issues_concern">
                <strong>Issue/ Concern</strong><br>
                Raising that there is a problem or reason
            </label>

            <div id="issues_concern_classification" class="option-sub-theme row reveal-if-selected">
                <label for="issues_concern_classification">
                    a. Classification of ethical paradigm
                </label>

                <div id="issues_concern_virtue_ethics" class="option-sub-theme dotted-thin-border-at-bottom row">
                    <input type="checkbox" name="issues_concern_virtue_ethics" value="1"
                           ng-model="answer_coding.issues_concern_virtue_ethics">
                    <label for="issues_concern_virtue_ethics">
                        <strong>Virtue Ethics</strong><br>
                        Virtue ethics is a person rather than action based: it looks at the virtue or moral character of
                        the person carrying out an action, rather than at ethical duties and rules, or the consequences
                        of particular actions. (Example: you are a bad person, I feel bad doing this design)
                        <br>
                    </label>
                </div>

                <div id="issues_concern_consequentialist_ethics" class="option-sub-theme dotted-thin-border-at-bottom row">
                    <input type="checkbox" name="issues_concern_consequentialist_ethics" value="1"
                           ng-model="answer_coding.issues_concern_consequentialist_ethics">
                    <label for="issues_concern_consequentialist_ethics">
                        <strong>Consequentialist Ethics</strong><br>
                        The main idea is that Morality is not based on rules, good intentions or goals, but only on the
                        consequences that result from our behavior. (Example: this might lead to…., this can have this
                        impact….)
                        <br>
                    </label>
                </div>

                <div id="issues_concern_deontological_ethics" class="option-sub-theme row">
                    <input type="checkbox" name="issues_concern_deontological_ethics" value="1"
                           ng-model="answer_coding.issues_concern_deontological_ethics">
                    <label for="issues_concern_deontological_ethics">
                        <strong>Deontological Ethics</strong><br>
                        The main idea is around first principles/rules/ methods not being followed.
                        <br>
                    </label>
                </div>
            </div>
        </div>

        <div id="proposed_remedy" class="option-theme row">
            <input type="checkbox" name="proposed_remedy" value="1" ng-model="answer_coding.proposed_remedy">
            <label for="proposed_remedy">
                <strong>Proposed Remedy</strong><br>
                Commenting on a possible solution to the issue raised
            </label>

            <div class="reveal-if-selected">
                <div id="proposed_remedy_types" class="option-sub-theme row">
                    <label for="proposed_remedy_types">
                        a. Types
                    </label>

                    <div id="proposed_remedy_types_legal" class="option-sub-theme dotted-thin-border-at-bottom row">
                        <input type="checkbox" name="proposed_remedy_types_legal" value="1"
                               ng-model="answer_coding.proposed_remedy_types_legal">
                        <label for="proposed_remedy_types_legal">
                            <strong>Legal</strong><br>
                            Related to authorities, legal concerns, govt. etc.
                            <br>
                        </label>
                    </div>

                    <div id="proposed_remedy_types_shame" class="option-sub-theme dotted-thin-border-at-bottom row">
                        <input type="checkbox" name="proposed_remedy_types_shame" value="1"
                               ng-model="answer_coding.proposed_remedy_types_shame">
                        <label for="proposed_remedy_types_shame">
                            <strong>Shame</strong><br>
                            Trying to blame or point at someone/company or practice.
                            <br>
                        </label>
                    </div>

                    <div id="proposed_remedy_types_hack" class="option-sub-theme solid-thin-border-at-bottom row">
                        <input type="checkbox" name="proposed_remedy_types_hack" value="1"
                               ng-model="answer_coding.proposed_remedy_types_hack">
                        <label for="proposed_remedy_types_hack">
                            <strong>Hack</strong><br>
                            Trying to figure out how the issue can be solved by providing supports, work-arounds,
                            information, etc.
                            <br>
                        </label>
                    </div>
                </div>

                <div id="proposed_remedy_directed_to" class="option-sub-theme row row">
                    <label for="proposed_remedy_directed_to">
                        b. Directed towards
                    </label>

                    <div id="proposed_remedy_directed_to_individual" class="option-sub-theme dotted-thin-border-at-bottom row">
                        <input type="checkbox" name="proposed_remedy_directed_to_individual" value="1"
                               ng-model="answer_coding.proposed_remedy_directed_to_individual">
                        <label for="proposed_remedy_directed_to_individual">
                            <strong>Individual</strong><br>
                            Remedy proposed is targeted towards the particular author or individual who posted the
                            issue.
                            <br>
                        </label>
                    </div>

                    <div id="proposed_remedy_directed_to_society" class="option-sub-theme row">
                        <input type="checkbox" name="proposed_remedy_directed_to_society" value="1"
                               ng-model="answer_coding.proposed_remedy_directed_to_society">
                        <label for="proposed_remedy_directed_to_society">
                            <strong>Society</strong><br>
                            Remedy proposed for betterment of a collective group.
                            <br>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div id="modifiers" class="option-theme row">
            <input type="checkbox" name="modifiers" value="1" ng-model="answer_coding.modifiers">
            <label for="modifiers">
                <strong>Modifiers</strong><br>
                These are comments that follow a parent comment about an issue/solution
            </label>

            <div class="reveal-if-selected">
                <div id="modifiers_extends" class="option-sub-theme dotted-thin-border-at-bottom row">
                    <input type="checkbox" name="modifiers_extends" value="1"
                           ng-model="answer_coding.modifiers_extends">
                    <label for="modifiers_extends">
                        <strong>Extends</strong><br>
                        Add to from a previous stated issue or solution.
                        <br>
                    </label>
                </div>

                <div id="modifiers_example" class="option-sub-theme dotted-thin-border-at-bottom row">
                    <input type="checkbox" name="modifiers_example" value="1"
                           ng-model="answer_coding.modifiers_example">
                    <label for="modifiers_example">
                        <strong>Provide Example</strong><br>
                        Narrate a personal experience or specific examples related to the issue/remedy.
                        <br>
                    </label>
                </div>

                <div id="modifiers_conditional" class="option-sub-theme dotted-thin-border-at-bottom row">
                    <input type="checkbox" name="modifiers_conditional" value="1"
                           ng-model="answer_coding.modifiers_conditional">
                    <label for="modifiers_conditional">
                        <strong>Conditional</strong><br>
                        Mentioning boundaries on when the issues occur or when the remedy proposed would work.
                        <br>
                    </label>
                </div>

                <div id="modifiers_disagree_counter" class="option-sub-theme dotted-thin-border-at-bottom row">
                    <input type="checkbox" name="modifiers_disagree_counter" value="1"
                           ng-model="answer_coding.modifiers_disagree_counter">
                    <label for="modifiers_disagree_counter">
                        <strong>Disagree/Counter</strong><br>
                        Disagreeing with the issue/ remedy proposed in the above comments
                        <br>
                    </label>
                </div>

                <div id="modifiers_futuring" class="option-sub-theme row">
                    <input type="checkbox" name="modifiers_futuring" value="1"
                           ng-model="answer_coding.modifiers_futuring">
                    <label for="modifiers_futuring">
                        <strong>Futuring</strong><br>
                        Imagining the impacts of the issue mentioned/ how the remedy might play out in future scenarios.
                        <br>
                    </label>
                </div>
            </div>
        </div>

        <div id="sub_level_conversational_shift" class="option-theme row">
            <input type="checkbox" name="sub_level_conversational_shift" value="1"
                   ng-model="answer_coding.sub_level_conversational_shift">
            <label for="sub_level_conversational_shift">
                <strong>Sub Level- Conversation Shift</strong><br>
                Select this when the comment is not related to the previous issue/solution.
            </label>
        </div>

        <div id="code_notes" class="option-theme row">
            <label for="code_notes" class="code-notes">
                <strong class="code-notes">Code Notes</strong>
                <br>
                Super Interesting, need to look at it later: ***<br>
                Confusion: ??<br>
                Juicy Quotes: Juicy<br>
                <textarea class="code-notes-text" name="code_notes" ng-model="answer_coding.code_notes"></textarea>
            </label>
        </div>

        <input type="submit" value="Submit" class="nav-bar-button submit">

    </form>
    </p>
</div>